{% extends 'home/base.html' %}
{% load static %}

{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Membership | ASMAN
{% endblock titlearea %}

{% block cssarea %}
<link rel="stylesheet" type="text/css" href="{% static 'getinvolved\custom\css\membership.min.css' %}" />
{% endblock cssarea %}

{% block content %}
<section class="page-title membership-title text-center"
    style="background: linear-gradient( rgba(28, 28, 28, 0.8), rgba(28, 28, 28, 0.8) ), url({% static 'home\static_images\blog-p2.jpg' %});">
    <h2 class="text-extra-bold white text-uppercase">Membership</h2>
    <div class="page-location text-center display-ib"
        style="background-image: url({% static 'home\static_images\curved.png' %});">
        <span class="ubuntu fz-14 green-5c">Home <i class="gray-e9">/</i> Get Involved <i class="gray-e9">/</i>
            Membership</span>
    </div>
</section>

<section class="mt-150 membership-application">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="black h-sep">ASMAN <span class="text-extra-bold">Membership</span></h3>
                <p class="fz-16 gray-666 mt-50">
                    Join our hands to make a fist, a fist to fight the adversities, a fight for rightful and better
                    tomorrow for our woman and children.
                    <br />
                    <br />
                    Become a member, bring in your contribution, together with drops of effort from each member, we will
                    bring oasis to the desert of our country’s women and children.

                </p>

                <h3 class="black h-sep mt-150">Membership <span class="text-extra-bold">application</span></h3>
                <p class="fz-16 gray-666 mt-50">Please fill up the following form.</p>
                <div class="mt-30" id="message"></div>
                <form id="membership_applicant_form" class="mt-20 checkout-form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mt-30">
                            {{ membership_form.full_name }}
                        </div>
                        <div class="col-md-6 mt-30">
                            {{ membership_form.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-30">
                            {{ membership_form.mobile_number }}
                        </div>
                        <div class="col-md-6 mt-30">
                            {{ membership_form.address }}
                        </div>
                    </div>
                    <p class="fz-16 gray-666 mt-50">Explain your reason to join ASMAN Committee</p>
                    {{ membership_form.reason }}
                    <div class="mt-50 submit mb-150">
                        <input type="submit" class="martel text-extra-bold text-uppercase fz-14" value="Send message">
                    </div>
                </form>

            </div>
            <div class="col-md-3 offset-md-1 col-sm-4 mt-150">
                <div class="contact-info clearfix">
                    <div class="float-start">
                        <h5 class="fz-15 black text-bold mb-10">Office Address</h5>
                        <span class="ubuntu fz-14 gray-777 lh-22">Jawalakhel <br>Kathmandu</span>
                    </div>
                    <div class="contact-icon float-end position-r">
                        <img src="{% static 'home\static_images\office.png' %}" alt="">
                        <img src="{% static 'home\static_images\office-hover.png' %}" alt="">
                    </div>
                    <div class="clearfix"></div>
                    <hr class="c-border">
                </div>
                <div class="contact-info clearfix mt-20">
                    <div class="float-start">
                        <h5 class="fz-15 black text-bold mb-10">Phone</h5>
                        <span class="ubuntu fz-14 gray-777 lh-22">01-5190192</span>
                    </div>
                    <div class="contact-icon float-end position-r">
                        <img src="{% static 'home\static_images\phone.png' %}" alt="">
                        <img src="{% static 'home\static_images\phone-hover.png' %}" alt="">
                    </div>
                    <div class="clearfix"></div>
                    <hr class="c-border">
                </div>
                <div class="contact-info clearfix mt-20">
                    <div class="float-start">
                        <h5 class="fz-15 black text-bold mb-10">E-mail</h5>
                        <span class="ubuntu fz-14 gray-777 lh-22">asman.nepal90@gmail.com <br> </span>
                    </div>
                    <div class="contact-icon float-end position-r">
                        <img src="{% static 'home\static_images\mail.png' %}" alt="">
                        <img src="{% static 'home\static_images\mail-hover.png' %}" alt="">
                    </div>
                    <div class="clearfix"></div>
                    <hr class="c-border">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}