{% extends 'home/base.html' %}
{% load static %}

{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
ASMAN
{% endblock titlearea %}

{% block cssarea %}
<link rel="stylesheet" type="text/css" href="{% static 'home\styles\custom\css\home.min.css' %}" />
{% endblock cssarea %}

{% block content %}

<section id="hero-slider">
    <div class="container-fluid no-padding">
        <div class="main-slider">
            {% for each_slider in hero_slider_data %}
            <div class="item">
                <div class="main-slider-img position-r">
                    <img src="/media/{{ each_slider.image }}" alt="HeroSlider {{ forloop.counter }}">
                    <div class="overlay"></div>
                    <div class="main-slider-content container">
                        <h2 class="lora fz-20 white text-bold text-italic">ASMAN</h2>
                        <h3 class="white text-uppercase mt-25 position-r">{{ each_slider.main_text }}</h3>
                        <h4 class="lora fz-18 white text-bold text-italic mt-30">{{ each_slider.sub_text }}</h4>

                        {% if each_slider.btn_to_show == 'membership' %}
                        <div class="mt-30">
                            <a class="martel fz-14 text-bold" href="{% url 'home' %}">Become a member <i
                                    class="fa fa-caret-right"></i></a>
                        </div>
                        {% endif %}

                        {% if each_slider.btn_to_show == 'volunteering' %}
                        <div class="mt-30">
                            <a class="martel fz-14 text-bold" href="{% url 'home' %}">Become a volunteer <i
                                    class="fa fa-caret-right"></i></a>
                        </div>
                        {% endif %}

                        {% if each_slider.btn_to_show == 'donation' %}
                        <div class="mt-30">
                            <a class="martel fz-14 text-bold" href="{% url 'home' %}">Donate Now <i
                                    class="fa fa-caret-right"></i></a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="staff mt-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class=" black h-sep">Committee <span class="text-ultra-bold">Members</span> </h3>
                <p class="fz-16 gray-666 mt-50">We work together to bring changes and positivity.</p>
            </div>
        </div>
        <div class="staff-member-group mt-10">

            {% for each_member in member_data %}
            <div class="staff-member position-r text-center mt-50">
                <img class="img-fluid" src="/media/{{ each_member.image }}" alt="{{ each_member.full_name }}">
                <div class="staff-hover">
                    <ul class="staff-social list-inline">
                        <li>
                            <a href="{{ each_member.fb }}" target="_blank" rel="noopener noreferrer nofollow">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ each_member.twitter }}" target="_blank" rel="noopener noreferrer nofollow">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ each_member.linkedin }}" target="_blank" rel="noopener noreferrer nofollow">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <h6 class="white text-bold text-uppercase px-2">
                        {{ each_member.full_name }}
                    </h6>
                    <!-- <span class=" mt-15 ubuntu white text-medium text-uppercase display-block fz-11">
                        {{ each_member.position }}
                    </span> -->
                    <span class=" mt-15 ubuntu white text-medium display-block fz-11 px-2">
                        <strong>"</strong>{{ each_member.msg }}<strong>"</strong>
                    </span>

                    <span class="mt-20 ubuntu fz-13 text-medium white display-block px-2">
                        Tell : {{ each_member.mobile_number }}
                    </span>
                    <span class="mt-10 ubuntu fz-13 text-medium white display-block px-2">
                        Mail : {{ each_member.email }}
                    </span>
                </div>
                <div class="staff-overlay">
                    <h6 class="white text-bold text-uppercase">{{ each_member.full_name }}</h6>
                    <span class=" mt-15 ubuntu white text-medium text-uppercase display-block fz-11">
                        {{ each_member.position }}
                    </span>
                </div>
            </div>
            {% endfor %}

            <div class="text-center mt-100 view-more">
                <a href="{% url 'about' %}" class="btn-prime tri-b fz-15">All Members</a>
            </div>
        </div>
    </div>
</section>

<section class="testimonials mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class=" black h-sep">ASMAN <span class="text-ultra-bold">Testimonials</span> </h3>
                <p class="fz-16 gray-666 mt-50">Our charity helps organizations to bring changes.</p>
            </div>
        </div>

        <div class="row mt-60">
            <div class="col-md-12">
                <div class="testimonial-slider">
                    {% for each_testimonial in testimonial_data %}
                    <div class="item">
                        <div class="item-grid">
                            <div class="testimonial-img display-ib position-r float-start">
                                <img class="img-fluid display-ib" src="/media/{{ each_testimonial.image }}"
                                    alt="{{ each_testimonial.organization }}">
                            </div>
                            <div class="display-ib float-start testimonial-text">
                                <img class="img-fluid mt-30" src="{% static 'home\static_images\quote-open.png' %}"
                                    alt="">
                                <h4 class="fz-17 d-black text-bold mt-30">{{ each_testimonial.organization }}</h4>
                                <h5 class="fz-15 green-5c mt-10">{{ each_testimonial.position }}</h5>
                                <p class="mt-25">
                                    {{ each_testimonial.testimonial }}
                                </p>
                                <img class="img-fluid float-end mt-30"
                                    src="{% static 'home\static_images\quote-close.png' %}" alt="">
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}
<script type=" text/javascript" src="{% static 'home\styles\custom\js\home.js' %}"></script>
{% endblock javascript %}