{% extends 'home/base.html' %}
{% load static %}

{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
ASMAN
{% endblock titlearea %}

{% block cssarea %}
<link rel="stylesheet" type="text/css" href="{% static 'home\styles\custom\css\home.min.css' %}" />
{% endblock cssarea %}

{% block content %}

<section id="hero-slider">
    <div class="container-fluid no-padding">
        <div class="main-slider">
            {% for each_slider in hero_slider_data %}
            <div class="item">
                <div class="main-slider-img position-r">
                    <img src="/media/{{ each_slider.image }}" alt="HeroSlider {{ forloop.counter }}">
                    <div class="overlay"></div>
                    <div class="main-slider-content container">
                        <h2 class="lora fz-20 white text-bold text-italic">ASMAN</h2>
                        <h3 class="white text-uppercase mt-25 position-r">{{ each_slider.main_text }}</h3>
                        <h4 class="lora fz-18 white text-bold text-italic mt-30">{{ each_slider.sub_text }}</h4>

                        {% if each_slider.btn_to_show == 'membership' %}
                        <div class="mt-30">
                            <a class="martel fz-14 text-bold" href="{% url 'home' %}">Become a member <i
                                    class="fa fa-caret-right"></i></a>
                        </div>
                        {% endif %}

                        {% if each_slider.btn_to_show == 'volunteering' %}
                        <div class="mt-30">
                            <a class="martel fz-14 text-bold" href="{% url 'home' %}">Become a volunteer <i
                                    class="fa fa-caret-right"></i></a>
                        </div>
                        {% endif %}

                        {% if each_slider.btn_to_show == 'donation' %}
                        <div class="mt-30">
                            <a class="martel fz-14 text-bold" href="{% url 'home' %}">Donate Now <i
                                    class="fa fa-caret-right"></i></a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id='about-info' class="about-info mt-100 mb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 overcoming">
                <h4 class="d-black lh-33 h-sep">ASMAN support for covid-19</h4>
                <p class="lh-28 mt-50 fz-15">Due to covid-19 pandemic, lots of people are highly suffering in Nepal.
                    ASMAN is supporting the needy ones with health facilities and food distribution.</p>
                <p class="lh-28 mt-20 fz-15">It also conducts awareness oriented programs related to health and
                    environment.</p>
                <div class="btns mt-50">
                    <a class="text-uppercase martel fz-14 btn-prime tri-b" href="{% url 'about' %}">Read More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img src="/static/home/static_images/blog-p3.jpg" class="img-fluid" alt="">
            </div>
            <div class="row mt-80">
                <!-- JOINING ASMAN -->
                <div class="col-md-6 col-sm-6">
                    <div class="footer-d-v clearfix">
                        <div class="float-start">
                            <h5 class="fz-18 text-bold">Help & Support Now</h5>
                            <span class="fz-14 ubuntu gray-777 display-block mt-15">Might as well say Would you Could be
                                you be mine? </span>
                        </div>
                        <div class="float-end mt-6">
                            <a class="btn-prime tri-b text-uppercase" href="{% url 'donation' %}">donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="footer-d-v clearfix">
                        <div class="float-start">
                            <h5 class="fz-18 text-bold">Join As Volunteer</h5>
                            <span class="fz-14 ubuntu gray-777 display-block mt-15">Might as well say Would you Could be
                                you be mine? </span>
                        </div>
                        <div class="float-end mt-6">
                            <a class="btn-prime tri-b text-uppercase" href="{% url 'volunteering' %}">Volunteer</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
</section>

<section class="our-projects gray-f9f9-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-uppercase black h-sep">Our <span class="text-ultra-bold">Projects</span> </h3>
                <p class="fz-16 gray-666 mt-50">Our projects helps those people who have no hope</p>

                <div class="p-filter-nav mt-30">
                    <a href="javascript:;" id="all" data-type="{{ each_project_cat_data.slug }}"
                        class="projects-filter filter ubuntu all active">All</a>
                    {% for each_project_cat_data in project_cat_data %}
                    <a href="javascript:;" id="{{ each_project_cat_data.slug }}"
                        class="projects-filter filter ubuntu {{ each_project_cat_data.slug }}">
                        {{ each_project_cat_data.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div id="projects-wrapper" class="projects-wrapper mt-90">
            <div class="row mt-70">
                <div class="col-md-12">
                    <div id='projects-slider' class="projects-slider">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="trust-o" style="background: linear-gradient(rgba(54, 54, 54, 0.8), rgba(54, 54, 54, 0.8)),
url({% static 'home\static_images\trust-o.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="charity-video">
                    <iframe src="https://www.youtube.com/embed/O2aR9Qobmtc" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="trust-us">
                    <h2 class="white text-bold h-sep">Who we are ? Organization You Can Trust</h2>
                    <h5 class="karala white text-bold mt-50">Association of St. Mary's Alumnae Nepal </h5>
                    <p class="white mt-15">ASMAN is an organized, self-government, non-profitable and non-potilical,
                        non-government organization with regular successor. It operates educational support programs to
                        poor and helpless children studying in different schools.</p>
                </div>
                <div class="fund-process mt-30 display-ib">
                    <h6 class="white text-bold">Impact target this year</h6>
                    <div class="fund-state mt-40">
                        <div class="barWrapper">
                            <!-- <span class="progressText"><B>CSS3</B></span> -->
                            <div class="progress ">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                    aria-valuenow="60" aria-valuemin="10" aria-valuemax="100" style="">
                                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="60%">
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="fund-details">
                        <div class="detail-goal text-center display-ib">
                            <img src="{% static 'home\static_images\raised.png' %}" alt="">
                            <span class="fz-13 white martel text-bold display-block mt-10">Done 6,000+</span>
                        </div>
                        <div class="detail-goal text-center display-ib">
                            <img src="{% static 'home\static_images\goal.png' %}" alt="">
                            <span class="fz-13 white martel text-bold display-block mt-10">Goal 10,000+</span>
                        </div>
                        <div class="detail-goal text-center display-ib">
                            <img src="{% static 'home\static_images\days.png' %}" alt="">
                            <span class="fz-13 white martel text-bold display-block mt-10">Time left 6 months</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="staff mt-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class=" black h-sep">Committee <span class="text-ultra-bold">Members</span> </h3>
                <p class="fz-16 gray-666 mt-50">We work together to bring changes and positivity.</p>
            </div>
        </div>
        <div class="staff-member-group mt-10">

            {% for each_member in member_data %}
            <div class="staff-member position-r text-center mt-50">
                <img class="img-fluid" src="/media/{{ each_member.image }}" alt="{{ each_member.full_name }}">
                <div class="staff-hover">
                    <ul class="staff-social list-inline">
                        <li>
                            <a href="{{ each_member.fb }}" target="_blank" rel="noopener noreferrer nofollow">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ each_member.twitter }}" target="_blank" rel="noopener noreferrer nofollow">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ each_member.linkedin }}" target="_blank" rel="noopener noreferrer nofollow">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <h6 class="white text-bold text-uppercase px-2">
                        {{ each_member.full_name }}
                    </h6>
                    <!-- <span class=" mt-15 ubuntu white text-medium text-uppercase display-block fz-11">
                        {{ each_member.position }}
                    </span> -->
                    <span class=" mt-15 ubuntu white text-medium display-block fz-11 px-2">
                        <strong>"</strong>{{ each_member.msg }}<strong>"</strong>
                    </span>

                    <span class="mt-20 ubuntu fz-13 text-medium white display-block px-2">
                        Tell : {{ each_member.mobile_number }}
                    </span>
                    <span class="mt-10 ubuntu fz-13 text-medium white display-block px-2">
                        Mail : {{ each_member.email }}
                    </span>
                </div>
                <div class="staff-overlay">
                    <h6 class="white text-bold text-uppercase">{{ each_member.full_name }}</h6>
                    <span class=" mt-15 ubuntu white text-medium text-uppercase display-block fz-11">
                        {{ each_member.position }}
                    </span>
                </div>
            </div>
            {% endfor %}

            <div class="text-center mt-100 view-more">
                <a href="{% url 'about' %}" class="btn-prime tri-b fz-15">All Members</a>
            </div>
        </div>
    </div>
</section>

<section class="our-help mt-150"
    style="background: linear-gradient(rgba(54, 54, 54, 0.8), rgba(54, 54, 54, 0.8)),  url({% static 'home\static_images\our-help.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class=" white h-sep">How Can <span class="text-ultra-bold">We Help ? </span> </h3>
                <p class="fz-16 white mt-50">In 2015 we distributed $.56m in funding to 60 organisations and projects.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mt-70">
                <div id="canvas-holder" class="clearfix">
                    <canvas id="chart-area" class="float-start"></canvas>
                    <div class="round-bar-status float-start text-center">
                        <h2 class="white text-semi-bold">20%</h2>
                        <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">Volunteers</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-70">
                <div id="canvas-holder1" class="clearfix">
                    <canvas id="chart-area1" class="float-start"></canvas>
                    <div class="round-bar-status float-start text-center">
                        <h2 class="white text-semi-bold">55%</h2>
                        <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">education</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-70">
                <div id="canvas-holder2" class="clearfix">
                    <canvas id="chart-area2" class="float-start"></canvas>
                    <div class="round-bar-status float-start text-center">
                        <h2 class="white text-semi-bold">70%</h2>
                        <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">donators</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-70">
                <div id="canvas-holder3" class="clearfix">
                    <canvas id="chart-area3" class="float-start"></canvas>
                    <div class="round-bar-status float-start text-center">
                        <h2 class="white text-semi-bold">85%</h2>
                        <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">event program</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="testimonials mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class=" black h-sep">ASMAN <span class="text-ultra-bold">Testimonials</span> </h3>
                <p class="fz-16 gray-666 mt-50">Our charity helps organizations to bring changes.</p>
            </div>
        </div>

        <div class="row mt-60">
            <div class="col-md-12">
                <div class="testimonial-slider">
                    {% for each_testimonial in testimonial_data %}
                    <div class="item">
                        <div class="item-grid">
                            <div class="testimonial-img display-ib position-r float-start">
                                <img class="img-fluid display-ib" src="/media/{{ each_testimonial.image }}"
                                    alt="{{ each_testimonial.organization }}">
                            </div>
                            <div class="display-ib float-start testimonial-text">
                                <img class="img-fluid mt-30" src="{% static 'home\static_images\quote-open.png' %}"
                                    alt="">
                                <h4 class="fz-17 d-black text-bold mt-30">{{ each_testimonial.organization }}</h4>
                                <h5 class="fz-15 green-5c mt-10">{{ each_testimonial.position }}</h5>
                                <p class="mt-25">
                                    {{ each_testimonial.testimonial }}
                                </p>
                                <img class="img-fluid float-end mt-30"
                                    src="{% static 'home\static_images\quote-close.png' %}" alt="">
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}
{% include 'home\ajax_projects.html' %}
<script type=" text/javascript" src="{% static 'home\styles\custom\js\home.js' %}"></script>
{% endblock javascript %}