/*== ORGANIZATION TRUST ==*/

.trust-o {
    padding: 140px 0;
    background-size: cover;
}

.trust-o > .container > .row > .col-md-6:nth-of-type(1) {
    margin-bottom: 50px;
}

.charity-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// Fund progress bar
.fund-process {
    padding: 20px 15px;
    border: 1px solid #fff;
}
.fund-process .tooltip {
    position: relative;
    float: right;
}
.fund-process .tooltip > .tooltip-inner {
    background-color: #2e89d3;
    background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
    background-size: 15px 15px;
    padding: 7px 6px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Martel Sans', sans-serif;
    border-radius: 0;
    display: inline-block;
}
.fund-process .popOver + .tooltip > .tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2e89d3;
    bottom: 1px;
}
.fund-process .progress {
    border-radius: 0;
    overflow: visible;
    height: 6px;
}
.fund-process .progress-bar {
    /* background:rgb(23,44,60);  */
    background-color: #2e89d3;
    background-image: linear-gradient(to bottom, #2e89d3, #2e89d3);
    position: relative;
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
}
.fund-process .progress-bar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
    z-index: 1;
    background-size: 15px 15px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.fund-process .progress-bar::before {
    content: '';
    position: absolute;
    top: -4px;
    right: 0;
    width: 1px;
    height: 14px;
    background-color: #2e89d3;
}

.fund-details > .detail-goal {
    margin-right: 40px;
}
.fund-details > .detail-goal:nth-of-type(3) {
    margin-right: 0;
}
.charity-video {
    position: relative;
    top: 60px;
}

/*== STAF MEMBER ==*/
.staff-member-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.staff-member {
    width: auto;
    padding: 0 20px;
    justify-self: center;
}
.staff-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2e89d3;
    padding: 20px 0;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
}

.staff-hover {
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    background-color: #2e89d3;
    padding: 2px 0 20px 0;
    // border-bottom: 3.31px solid #2e89d3;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease;
}

.staff-hover::before {
    content: '';
    position: absolute;
    //     // left: -1px;
    top: -80px;
    height: 81px; //should be of same as positive value of 'top' + 1
    width: 100%;
    background-color: #2e89d3;
    display: block;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.staff-member:hover .staff-overlay {
    opacity: 0;
    transform: scale(0);
}
.staff-member:hover .staff-hover {
    opacity: 1;
    transform: scale(1);
}

.staff-social {
    position: absolute;
    top: -20px;
    z-index: 5;
}
.staff-social > li {
    padding: 0;
    display: inline-block;
}
.staff-social > li > a {
    font-size: 14px;
    color: #fff;
    // background: rgba(27, 27, 27, 1);
    background: #2e89d3;
    padding: 12px;
    margin-right: 6px;
}

.staff-social > li:nth-of-type(1) > a {
    position: relative;
    top: 1px;
}
.staff-social > li:nth-of-type(2) > a {
    position: relative;
    top: -10px;
}
.staff-social > li:nth-of-type(3) > a {
    position: relative;
    top: -23px;
}
.staff-social > li > a:hover {
    color: rgba(27, 27, 27, 1);
}

/*== Our Help==*/
.our-help {
    padding: 150px 0;
    background-size: cover;
}

.our-help .h-sep::before {
    background-image: url('../img/h-sep-white.png');
}
.our-help canvas {
    overflow: hidden;
    width: 102px;
    height: 102px;
}
.round-bar-status.float-start.text-center {
    padding-left: 30px;
    margin-top: 20px;
}
.round-bar-status > h2 {
    width: 103px;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
}
.round-bar-status > h2::before {
    background-color: #fff;
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    bottom: -4px;
    left: 0;
    border-radius: 50%;
}

/*== TESTIMONIALS ==*/

.testimonial-slider .item .item-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    align-items: center;
}

.testimonial-slider .item > div {
    display: block;
    width: 100%;
}

.testimonial-img > img {
    position: relative;
}

.testimonial-img::after {
    content: '';
    left: -1px;
    bottom: 0;
    border-color: transparent transparent #fff #fff;
    border-style: solid;
    border-width: 62px 147px;
    position: absolute;
    width: 0;
    height: 0;
}
.testimonial-img::before {
    content: '';
    border-color: transparent transparent #2e89d3 #2e89d3;
    border-width: 6px 150px;
    border-style: solid;
    position: absolute;
    // bottom: 56px;
    bottom: 50px;
    // left: -14px;
    left: -8px;
    transform: rotate(21deg);
    width: 0;
    z-index: 1;
}

.testimonial-text {
    padding: 20px 25px 20px 30px;
}

.testimonial-text > img:nth-of-type(1) {
    position: relative;
    left: 0;
}
.testimonial-text p {
    text-align: justify;
    line-height: 26px;
}

.testimonials .tns-outer .tns-nav {
    margin-top: 80px;
    text-align: center;
}

.testimonials .tns-outer .tns-nav button {
    background-color: #d5d5d5;
    border-radius: 4px;
    border-width: 0;
    height: 4px;
    width: 8px;
    margin: 5px 4px;
    opacity: 1;
    transition: all 0.5s ease;
}

.testimonials .tns-outer .tns-nav button:hover,
.testimonials .tns-outer .tns-nav button.tns-nav-active {
    background: #2e89d3;
    width: 20px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .trust-o > .container > .row > .col-md-6:nth-of-type(1) {
        margin-bottom: 0;
    }

    /*== STAF MEMBER ==*/
    .staff-member-group {
        grid-template-columns: 1fr 1fr;
    }

    /*== TESTIMONIALS ==*/
    //for grid
    .testimonial-slider .item .item-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        align-items: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*== STAF MEMBER ==*/
    .staff-member-group {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*== TESTIMONIALS ==*/
    // .testimonial-slider .item > div {
    //     display: inline-block;
    //     width: 50%;
    // }

    // .testimonial-text > img:nth-of-type(1) {
    //     left: -62px;
    // }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
